      <div class="row">
        <div class="jumbotron set-height">
          <div class="row">
            <div class="box col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-1">
              <img class="img-responsive" src="http://res.cloudinary.com/dxhabwozn/image/upload/v1430789378/icons/OpenBox.png">
            </div>
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-1">
              <div class="heading-box">
                <div class="choose">
                  Choose
                </div>
                <div class="your_path">
                  Your Path
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="container">
          <div class="row">
            
            <a href="donate">
              <div class="col-md-6">
                <div class="donate_money"></div>
                <div class="donatetodayblack">Donate <span>Money</span> Today</div>
              </div>
            </a>
            
            <a href="drop_off">
              <div class="col-md-6">
                <div class="donate_kit"></div>
                <div class="donatetodayblack">Donate a <span>Physical Kit</span></div>
              </div>
            </a>

          </div>
        </div>
      </div>