      <div class="jumbotron set-height">
         <p>
          <img src="//www.fillmurray.com/g/350/350" height="350" width="350">
        </p>
        <h2>Choose your path</h2>
        <h3>ask your friends to help complete this kit</h3>
      </div>


      <div class="row">
        <div class="col-md-6">
          <p>
            <a class="btn btn-lg btn-primary" href="drop_off" role="button">Drop off a kit &raquo;</a>
          </p>
          <p>
            Donate a physical kit
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <a class="btn btn-lg btn-primary" href="donate" role="button">Pay money towards a kit &raquo;</a>
          </p>
          <p>
            Donate money towards a kit
          </p>          
        </div>

      </div>