      <div class="jumbotron set-height">
        <div class="row">
          <div class="box col-md-5">
            
          </div>
          <div class="col-md-7">
            <div class="border-box">
              <div class="choose">
                Choose
              </div>
              <div class="your_path">
                Your Path
              </div>
            </div>
            <div class="path_desc">
              <p>Donate money towards a kit</p><p>or</p><p>See info to drop off a phical kit.</p>
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <a href="donate">
          <div class="col-md-6">
            <div class="donate_money">

            </div>
          </div>
        </a>
        <a href="drop_off">
          <div class="col-md-6">
            <div class="donate_kit">

            </div>
          </div>
        </a>

      </div>