      <div class="row">
      <div class="jumbotron set-height">
        <div class="row">
          <div class="box col-md-5">
          </div>
          <div class="col-md-7">
            <div class="border-box">
                Every donation is a small step towards success         
            </div>
            <p id="donate_amount">intial</p>
            <input id="slider1" type="range" min="1" max="<%= @total_cost.to_f.to_s %>" step="1" onmousemove="updateDonationDisplay(this.value);" />
            <a href="pay.html">
              <div class="donatetodayblack">Donate this <span>Amount</span></div>
            </a>  
          </div>
        </div>
      </div>


<script type="text/javascript">
  function updateDonationDisplay(value){
    console.log('wer are being called')
    $('#donate_amount')[0].innerHTML = value
  }
</script>
<!-- 
<script type="text/javascript">
// on page load...
    moveProgressBar();
    // on browser resize...
    $(window).resize(function() {
        moveProgressBar();
    });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      console.log("moveProgressBar");
        var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
        var getProgressWrapWidth = $('.progress-wrap').width();
        var progressTotal = getPercent * getProgressWrapWidth;
        var animationLength = 2500;
        
        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
            left: progressTotal
        }, animationLength);
    }
</script>

 -->
<!--         <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div> -->

      <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <% @items = @org.kits.sample.items %>
          <% @items.each do |item| %>
            <div class="col-sm-3">
              <img src="http://www.fillmurray.com/g/100/100">
              <p class="itemname"><%= item.name %></p>
              <p><%= item.price %></p>
              <!-- <p><%= item.description %></p> -->
              <br />
            </div>
          <% end %>
        </div>
        </div>
      </div>
      </div>