      <div class="row">
      <div class="jumbotron set-height">
         <p>
          <img src="http://www.fillmurray.com/g/550/250" height="250" width="550">
        </p>
        <h2>Drop Off</h2>
        <h3>Buy and deliver yourself.</h3>
      </div>


      <div class="row">
        <div class="col-md-6">
          <p>Info side one</p>
        </div>
        <div class="col-md-6">
          <p>Info side two</p>
        </div>

      </div>

      <style type="text/css">
        .box {
          background: url('http://placehold.it/1300x1149/ddaa0f')
        }
      </style>
      </div>