      <div class="row">
        <div class="topsection set-height ourhope description">
          <div class="shadow">
            <p>Kit Start is a tool to "donate today" those often overlooked, but necessary, items to those in need. A small kit makes for a big step towards success.</p>
          </div>  
        </div>      
        
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <!-- <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
              <h2>Less Mass Market</h2>
              <p>Kit Start provbides a website dedicated to one organizxation and cause. You don't get overwhlemed by all the options.</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <!-- <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
              <h2>Donate or Drop off</h2>
              <p>You can conate a monetary amount based on actual items with your credit card. Or drop off a physical kit with clear directions.</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <!-- <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
              <h2>Spread the Word</h2>
              <p>You should feel awesome when you donate. Share your good work and encourage others to donate too! Spread the good cause.</p>
            </div><!-- /.col-sm-4 -->    
          </div>
        </div>
      </div>