      <div class="row">    
        <div class="topsection set-height others description">
          <div class="shadow">
            <p>See some other organizations participating in Kit Start.</p>
          </div>
        </div>

        <div class="container">

          <% @organizations.in_groups_of(2) do |group| %>
          <div class="row">
            <% group.each do |org| %>
            <div class="col-sm-6">
              <img class="img-square" src="<%= org.logo_url %>" alt="Org Logo" width="140" height="140">
              <h2><a href="/?org=<%= org.name %>"><%= org.name %></a></h2>
              <p><%= org.lower_third %></p>
            </div><!-- /.col-sm-6 -->
            <% end %>
          </div>
          <% end %>
