      <div class="row">
      <div class="jumbotron set-height">
         <p>
          <img src="http://www.fillmurray.com/g/550/250" height="250" width="550">
        </p>
        <h2>Pay money</h2>
      </div>
      </div>