      <div class="row">
        <div class="jumbotron set-height">
          <div class="row">
            <div class="box col-md-5">
            </div>
            <div class="col-md-7">
              <div class="border-box">
                <div class="choose">
                  Enter
                </div>
                <div class="your_path">
                  Payment info
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">

             




             <!-- <div class="row greenpay">Stripe wicked easy option</div> -->
             <form action="" method="POST" class="stripe">
               <script
               src="https://checkout.stripe.com/checkout.js" class="stripe-button"
               data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
               data-amount="2000"
               data-name="Demo Site"
               data-description="2 widgets ($20.00)"
               data-image="http://placehold.it/100x100/008F89&text=KS"
               data-panel-label="Donate Today"
               data-label="Donate"
               data-allow-remember-me="false">
               </script>
             </form>

             

           </div>
         </div>
       </div>






     </div>