      <div class="jumbotron set-height">
        <div class="row">
          <div class="box col-md-5">
            
          </div>
          <div class="col-md-7">
            <div class="border-box">
              <div class="choose">
                You're
              </div>
              <div class="your_path">
                Awesome
              </div>
            </div>
            <div class="path_desc">
              <p>Share you donation</p><p>And spread the word about this cause</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Main component for a primary marketing message or call to action -->
<div class="row socialshare">
  <div class="col-md-6 col-md-offset-3">
      
        <h1>Share to Social</h1>

<img src="http://placehold.it/200x200/001188&text=twitter">
<img src="http://placehold.it/200x200/006699&text=facebook">

      <h1>Share with Friends</h1>
      <p>Email a friend to Donate Today</p>

        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
        </form>

        <a class="btn btn-lg btn-primary" href="#" role="button">Email friends!&raquo;</a>


  </div>
</div>

