      <div class="row">
      <div class="jumbotron set-height">
        <div class="row">
          <div class="box col-md-5">
          </div>
          <div class="col-md-7">
            <div class="border-box">
              <div class="choose">
                You're
              </div>
              <div class="your_path">
                Awesome!
              </div>
            </div>
            <div class="path_desc">
              <p>Thank you for your donation</p>
            </div>
          </div>
        </div>
      </div>

      <hr/>


<div class="row socialshare">
  <div class="col-md-6 col-md-offset-3">
      
        <div class="donatetodayblack">Share your <span>awesomeness</span></div>

<img src="http://placehold.it/200x200/001188&text=twitter">
<img src="http://placehold.it/200x200/006699&text=facebook">

     
      <div class="donatetodayblack">Share with your <span>Friends</span></div>
      

        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
          </div>
          <br>
        </form>

        <a href="#"><div class="donatetodayblack">Email <span>them</span></div></a>


  </div>
</div>

</div>