      <div class="row">
        <div class="topsection set-height theteam description">
          <div class="shadow">
            <p>Brought together by Night Shift. Inspired by Charlotte. Fueled by Pizza.</p>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <img class="img-square" src="http://placehold.it/140x140/008F89&text=JG" alt="Generic placeholder image" width="140" height="140">
              <h2>Joe</h2>
              <p>Product Manager</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <img class="img-square" src="http://placehold.it/140x140/008F89&text=JG" alt="Generic placeholder image" width="140" height="140">
              <h2>Julian</h2>
              <p>Senior Designer</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <img class="img-square" src="http://placehold.it/140x140/008F89&text=JT" alt="Generic placeholder image" width="140" height="140">
              <h2>James</h2>
              <p>Senior Developer</p>
            </div><!-- /.col-sm-4 -->
          </div><!-- /.row -->
        </div>
      </div>