<!-- <div id="container">
  <%= react_component('LoadingView', {}, { prerender: true }) %>
</div> -->

<!-- Main component for a primary marketing message or call to action -->
<div class="row-fluid">
  <div class="col-md-12 col-sm-12">
    <div class="jumbotron set-height">
      <div>
        <img src="http://placehold.it/300x1000" style="height: 300px; width: 100%;">
      </div>
      <div class="container">
        <h1>End Chronic Homelessness</h1>
        <div>
          <a class="btn btn-lg btn-primary col" href="/donate" role="button">Donate Today &raquo;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 set-height">
    <div class="jumbotron  set-height">
      <div>
        <img src="http://placehold.it/300x1000" style="height: 300px; width: 100%;">
      </div>
      <div class="container">
        <h1>Story</h1>
        <p>
          The chronically homeless are a small subset of the overall homeless population, comprised of individuals who have at least one disabling condition and experience long-term homelessness.
        </p>
        <p>
          When Gabriel is 18, he's going to be chronicly homeless.
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/share" target="_blank">Share  &raquo;</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-sm-12 set-height">
    <div class="jumbotron set-height">
      <div>
        <img src="http://placehold.it/300x1000" style="height: 300px; width: 100%;">
      </div>
      <div class="container">
        <p>
          Kitstarter is a platform to provide daily essentials and furnishings for those placed in our housing to help solve chronic homelessness.
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/donate" role="button">Donate Today &raquo;</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <div class="jumbotron set-height">
      <div>
        <img src="http://placehold.it/300x1000" style="height: 300px; width: 100%;">
      </div>
      <div class="container">
      <h3>Housing First</h3>
        <p>
          Mobilize the Charlotte-Mechklenburg community to end chronic homelessness
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="http://www.housingfirstcharmeck.org/" target="_blank">Visit  &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
