/** GENERAL STUFF 
********************************/

body {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid .jumbotron {
	border-radius: 0px;
}

/*#carbonads-container {display:none} h1[id] {padding-top:0px; margin-top:20px} .zero-clipboard {display:none !important} .bs-old-docs {display:none} .bs-social {display:none} .bs-sidebar {display:none !important} .col-md-9[role=main] {width:100% !important} .navbar-fixed-top {position:absolute !important}
*/

/** MAIN PAGE (index)
********************************/

.set-height {
  min-height: 500px;
}

.call_to_action {
	/*background: url('<%= @org.homepage_bg_image_url %>') no-repeat center;
	background-size: cover; */
	background: url('http://res.cloudinary.com/dxhabwozn/image/upload/v1429811162/Kit-jumboimage-1920x1080_a4kx6g.png') no-repeat center;
	background-size: cover; 
}

.description {
	/*background: url('<%= @org.description_image_url %>') no-repeat center center;
	background-size: cover; */
	background: url('http://placehold.it/1920x1080') no-repeat center;
	background-size: cover;
	color: #ffffff;
}

.description p {
	background-color: rgba(0,0,0,0.5);
}

.action {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 4em;
}

.donatetoday {
	display: inline-block;
	border: 4px solid #ffffff;
	padding: 20px;
	font-size: 2em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

.donatetoday span {
	font-weight: bold;
}

.donatetoday a, .donatetoday a:hover {
	color: #ffffff;
	text-decoration: none;
}

/** CHOOSE PAGE
********************************/

.box {
	background: url('http://placehold.it/1300x1010/ddaa0f&text=box') center no-repeat no-repeat;
	min-height: 400px;
}
.border-box {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.choose {
	font-weight: 900;
	font-size: 4em;
}
.your_path {
	font-size: 2.5em;
}
.path_desc {
	padding-top: 60px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: center;
	font-size: 1.5em;
}
.donate_kit {
	background: url('http://placehold.it/1200x1200/aaffcc&text=buy') center no-repeat no-repeat;
	min-height: 400px;
}
.donate_money {
	background: url('http://placehold.it/1200x1200/33ffff&text=money') center no-repeat no-repeat;
	min-height: 400px;
}

/** DONATE PAGE and SLIDER
********************************/

.itemname {

	height: 50px;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}


/** SOCIAL
********************************/

.socialshare {
	text-align: center;
}

/** FOOTER
********************************/

.footer {
	text-align: center;
	background-color: #101010;
	color: #fff;
	padding: 20px;
}