<footer class="container">
  <div>
    <span><a href="#">Product</a></span> |
    <span><a href="#">The Team</a></span> |
    <span><a href="#">Our Hope</a></span> |
    <span><a href="#">Other</a></span> |
    <span><a href="#">Search</a></span> |
    <span><a href="#">Facebook</a></span> |
    <span><a href="#">Twitter</a></span> |
    <span><a href="#">Instagram</a></span>
  </div>
  <div class="pull-right">
    Brought To You By Nightshift 2015
  </div>
</footer>
