<footer id= "footer">
  <div id = "links">
    <span><a href="#">Product</a></span> |
    <span><a href="#">The Team</a></span> |
    <span><a href="#">Our Hope</a></span> |
    <span><a href="#">Other</a></span> |
    <span><a href="#">Search</a></span> |
    <span><a href="#">Facebook</a></span> |
    <span><a href="#">Twitter</a></span> |
    <span><a href="#">Instagram</a></span> 
  </div>
  <br>
  <br>
  <p>Brought To You By Nightshift 2015</p>
</footer>
