<footer id= "footer">
  <div id = "links">
    <span><a href="team">The Team</a></span> |
    <span><a href="hope">Our Hope</a></span> |
    <span><a href="others">Other</a></span> |
    <span><a href="#">Facebook</a></span> |
    <span><a href="#">Twitter</a></span> |
    <span><a href="#">Instagram</a></span> 
  </div>
  <br>
  <br>
  <p>&copy; <%= DateTime.now.strftime('%Y') %> KIT START, ALL RIGHTS RESERVED</p>
</footer>
